<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Naps Dashboard</title>
	<link href="dashboard.css" rel="stylesheet">
</head>
<body>

	<div class="first-content">
		<div class="side">
			<ul class="sidebar">
				<div class="prof-cover">
					<img id="prof-img" class="prof-img" src="">
				</div>
				<li>
					<div style="display:inline-flex;" id="basicComp"><img id="notify-img" class="notify-img" src="view-img.png"><h1 class="sideproccess" id="profile">Profile</h1></div>
				</li>
				<li>
					<div style="display:inline-flex" id="schoolComp"><img id="notify-img" class="notify-img" src="notification.png"><h1 class="sideproccess" id="notifications">Notifications</h1></div>
				</li>
				<li>
					<div style="display:inline-flex" id="contComp"><img id="notify-img" class="notify-img" src="event.png"><h1 class="sideproccess" id="events">Events</h1></div>
				</li>
				<li>
					<div style="display:inline-flex" id="signinComp"><img id="notify-img" class="notify-img" src="task.png"><h1 class="sideproccess" id="tasks">Tasks</h1></div>
				</li>
				<li>
					<div style="display:inline-flex" id="finilComp"><img id="notify-img" class="notify-img" src="settings.png"><h1 class="sideproccess" id="settings">Settings</h1></div>
				</li>
			</ul>
		</div>
		<div id="" class="center">

			<div id ="merge" class="top">
				<ul class="topbar">
					<li>
						<div style="display:inline-flex" id="signinComp"><h1 class="topproccess" id="dashSection">Dashboard</h1></div>
					</li>
					<li>
						<div style="display:inline-flex;" id="basicComp"><h1 class="topproccess" id="alluminiSection">Naps Allumini</h1></div>
					</li>
					<li>
						<div style="display:inline-flex" id="schoolComp"><h1 class="topproccess" id="votingSection">Voting Section</h1></div>
					</li>
					<li>
						<div style="display:inline-flex" id="contComp"><h1 class="topproccess" id="discussionSection">Discussion Forum</h1></div>
					</li>
					<li>
						<div style="display:inline-flex" id="finilComp"><h1 class="topproccess" id="adminSection">Naps Admins</h1></div>
					</li>
				</ul>
				<div id="welcome">
					<img id="log-img" class="log-img" src="">
				</div>
			</div>
			
		</div>
	</div>



	<script type="text/javascript" src="dashboard.js"></script>
</body>
</html>