<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Naps Dashboard</title>
	<link href="dashboard.css" rel="stylesheet"
</head>
<body>

	<div id="welcome" style="align-content: center;">
		
	</div>

	<script type="text/javascript" src="dashboard.js"></script>
</body>
</html>