html,
body{
	margin: auto 0;
  padding: auto 0;
}

body {
  
  justify-content: center;
  flex-wrap: wrap;
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color:white;
  /*padding-top: 10px;*/
  /*background-image: url("home.jpg");
  background-repeat:none;*/
  background-attachment: fixed;
  background-position: fixed;
  background-size: cover;
  background-color: #######;
  /*background-image: url("9UsWBvm4ScyGW7QOn2yz_20190122-Is-space-time-a-quantum-code-Featured.jpg");*/
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 0.5; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: red;
}

.side{

  position: fixed;
  display: inline-block;
  flex-wrap: wrap;
  text-align: left;
  margin:0px;
  padding: 0px;
  margin-right: 10px;
  padding-top: 10px;
  padding-right: 10px;
  top: 0px;
  height: 100%;
  background-color: #000000ff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  /*float: left;*/
  list-style: none;
  text-decoration: none;

}

.sidebar{

  margin: 0px;
  padding: 0px;
  padding-left: 10px;
  list-style: none;
}

.top{

  /*position: fixed;*/
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:0px;
  padding: 0px;
  /*top: 3px;*/
  /*left: 300px;*/
  text-align: center;
  background-color: green;
  list-style: none;
  /*text-decoration: none;*/

}

.topbar{

  position: fixed;
  top: 10px;
  margin: 0px;
  flex-wrap: wrap;
  list-style: none;
  display:  inline-flex;
  /*background-color: #666666;*/
  
}

.log-style{

  margin: 0px;
  text-align: center;
  flex-wrap: wrap;
  list-style: none;
  display:  inline-block;
  background-color: #00000077;
  
}
.center{

  position: relative;
  display:block;
  flex-wrap: wrap;
  margin: 0px;
  margin-right: 10px;
  /*background-color: green;*/
  margin-left: 175px;
  text-align: center;
  align-content: center;
  font-family: calibri;
  color: #000000;
  /*height: 100vh;*/
  width: 100%;

}
.sideproccess{

  padding: 0px;
  margin: 0px;
  margin-bottom: 40px;
  margin-top: 8px;
  font-size: 0.9rem;
  font-family: monospace;
  font-weight: bold;
  list-style: none;
  cursor:pointer;
  color: #999999ff;
}

.topproccess{

  margin: 0px;
  padding: 0px;
  padding-top: 5px;
  font-size: 0.9rem;
  font-family: calibri;
  font-weight: bold;
  list-style: none;
  cursor:pointer;
  color: #00000099;
/*  color: #999999;*/
  margin-right: 100px;
}
.logtext-style{

  margin: 0px;
  padding: 0px;
  padding-top: 2px;
  font-size: 0.6rem;
  font-family: calibri;
  text-align: center;
  font-weight: bold;
  list-style: none;
  cursor:pointer;
  color: white;
}


.first-content{

  display:inline-flex;
  text-align: center;
  /*flex-wrap: wrap;*/
  /*height: 100%;*/
  width: 100vw;

}

.log-img{
  height:30px;
  width:30px;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.drop-img{
  height:5px;
  width:10px;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.prof-img{
  height:80px;
  width:80px;
  background-color: #ffffff88;
  border-radius: 50px;
  padding: 6px;
  margin: 0px;
  margin-bottom: 30px;
}

.notify-img{
  height:30px;
  width:30px;
  border-radius: 50px;
  padding: 6px;
  margin: 0px;
  margin-bottom: 30px;
  margin-right: 10px;
}
.prof-cover{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}
#welcome{ 

  position: fixed;
  padding: 0px;
  marging: 0px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  top:3px;
  right:10px;
  font-family: calibri;
  font-weight: bold;
  background-color: white;
  color: black;
}
.other-content{

  /*position: relative;*/
  background-attachment: fixed;
  background-position: fixed;
  background-size: cover;
  background-repeat:no-repeat;
  background-color: #333333;
  justify-content: center;
  align-content: center;
  flex-wrap : wrap;
  text-align: center;
  border-radius: 60px;
  color: #ffffffff;
  height: 500px;
  padding: 25px;
  margin: 25px;
  margin-top: 100px;
  border: solid black 1px;
  box-shadow: 6px 6px 7px black;

}
.image-cover {

  position: relative;
  background-attachment: fixed;
  background-position: fixed;
  background-size: cover;
  background-repeat:no-repeat;
  background-color: #333333;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-wrap : wrap;
  text-align: center;
  border-radius: 60px;
  color: #ffffffff;
  height: 400px;
  /*padding: 15px;*/
  margin: 25px;
  margin-top: 80px;
  border: solid black 1px;
  box-shadow: 6px 6px 7px black;

}

.profile-image{
  height:190px;
  width:190px;
  background-color: #ffffff88;
  border-radius: 100px;
  padding: 6px;
  margin: 0px;
 
}
.profile-identifier{
  position: absolute;
  text-align: center;
  bottom: 60px;
  font-size: 3rem;
  font-weight: bold;
  left: 30px;
  /*margin-bottom: 50px;*/
  display: inline-flex;
}
.details-cover{
  margin-top: 50px;
  position: absolute;
  display: inline-block;
  /*height: 300px;*/
  /*background-color: #333333;*/
  text-align: left;
  left: 50px;
}
.no-view{
  position: relative;
  display: none;
}

.prev{
  position: absolute;
  background-color: white;
  left: 25px;
  bottom: 200px;
  height:40px;
  width:40px;
  border-radius: 50px;
  padding: 6px;
  margin: 0px;
  margin-bottom: 30px;
  margin-right: 10px;
  cursor: pointer;
}
.next{
  position: absolute;
  background-color: white;
  right: 25px;
  bottom: 200px;
  height:40px;
  width:40px;
  border-radius: 50px;
  padding: 6px;
  margin: 0px;
  margin-bottom: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.dash-page{

  display: none;
}
.sign-page{
  
  display: none;
}
.edit-div{
  display: inline-flex;
  position: absolute;
  right: 50px;
  margin-top: 20px;
}
.save-div{
  display: none;
  position: absolute;
  right: 50px;
  margin-top: 20px;
}
.edit{

  color: red; 
  font-size: 1rem; 
  font-family: monospace;
  font-weight: bold;
  cursor: pointer;
}
.save{

  color: green; 
  font-size: 1rem; 
  font-family: monospace;
  font-weight: bold;
  cursor: pointer;
}
.edit-img{
  height:20px;
  width:20px;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.inputs{
  margin: 0;
  outline: none;
  border-radius: 15px;
  border: solid black 3px;
  font-size: .9rem;
  font-weight: bold;
  padding: 15px;
  width: 130px;
  background-color: #ffffff88;
  color: black;

}
.admin-page{
  display: block;
  margin-top: 80px;
}
.search-bar{

  margin: 0;
  outline: none;
  border-radius: 35px;
  border: solid black 3px;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 15px;
  width: 470px;
  background-color: #99999944;
  /*color: #33333355;*/

}
.search-method{
  cursor: pointer;
  margin-right: 10px;
}

.sort-search{
  cursor: pointer;
  margin-left: 10px;
}
.search-section{

  display: inline-flex;
  /*margin-top: 80px;*/
}

.input-tops{
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.input-bottom{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.search-result{
  margin-top: 60px;
  margin-left: 30px;
  display: block;
  text-align: center;
  width: 600px;
  /*background-color: black;*/
}
.result-view {
  position: relative;
  background-attachment: fixed;
  background-position: fixed;
  background-size: cover;
  background-repeat:no-repeat;
  background-color: #333333;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-wrap : wrap;
  text-align: center;
  border-radius: 60px;
  color: #ffffffff;
  height: 200px;
  /*padding: 15px;*/
  margin: 25px;
  margin-top: 40px;
  border: solid black 1px;
  box-shadow: 6px 6px 7px black;
  cursor: pointer;

}
.profi-img{
  position: absolute;
  left: 15px;
  bottom: 25px;
  height:100px;
  width: 100px;
  background-color: #ffffff88;
  border-radius: 60px;
  padding: 6px;
  margin: 0px;
  margin-bottom: 30px;
}

@media (max-width: 650px){


}




