html,
body{
	margin: auto 0;
  padding: auto 0;
}

body {
  
  justify-content: center;
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
  /*text-align: center;*/
  color:white;
  /*padding-top: 10px;*/
  /*background-image: url("home.jpg");
  background-repeat:none;*/
  background-attachment: fixed;
  background-position: fixed;
  background-size: cover;

  background-color: #######;
}

::placeholder {
  color: #333333ff;
  opacity: 1;
}

.side{

  display: inline-block;
  flex-wrap: wrap;
  justify-content: center;
  margin:0;
  margin-right: 60px;
  padding:25px;
  padding-top: 50px;
  padding-left: 5px;
  background-color: #999999ff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  list-style: none;
  text-decoration: none;
}
.sidebar{
  list-style: none;
}
.top{

  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}
.topbar{

  margin: 0px;
  list-style: none;
  display:  inline-flex;
  
}
.center{
  
  display: inline-block;
  width: 80vw;
  margin: 0px;
  padding: 9px;
  padding-left: 5px;
  /*right: 10px;*/
  text-align: center;
  font-style: italic;
  font-family: calibri;
  color: #000000;

}
.sideproccess{

  padding-bottom:10px;
  margin-bottom: 25px;
  font-size: 0.9rem;
  font-family: monospace;
  font-weight: bold;
  list-style: none;
  cursor:pointer;
  color: #000000;
}

.topproccess{

  margin: 0px;
  padding: 0px;
  font-size: 0.9rem;
  font-family: calibri;
  font-weight: bold;
  list-style: none;
  cursor:pointer;
  color: #00000099;
  padding-right: 100px;
}


.first-content{

  display:inline-flex;
  /*flex-wrap: wrap;*/
  justify-content: center;
  align-text: center;
  height: 100vh;

}

