<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="HTML, JAVASCRIPT, CSS, PHP">
    <meta name="generator" content="Jekyll v4.1.1">
	<title>NapsUI Home</title>

    <!-- Custom styles for this template -->
    <link href="indexcss.css" rel="stylesheet">
</head>
<body>
<h1 id="text-top">Naps UI</h1>
<nav class="top-nav">

  <ul class="main-nav" id="main-nav">
    <div class="item" id="ones">
        <li class="nav-item" id="home">
            <a class="nav-link active" href="#">NAPS UI</a>
        </li>
        <li class="nav-item" id="signin">
           <a class="nav-link" href="\Sign-in">Sign in</a>
        </li>
     </div>
    

    <div class="item" id="push">
      <li class="nav-item" id="event">
          <a class="nav-link" href="\Events">Events</a>
      </li>
      <li class="nav-item" id="about">
          <a class="nav-link" href="\About">About Us</a>
      </li> 
    </div>
  </ul>

</nav>

<div class="first-content">
  <!-- <span id="brand">NAPS UI</span> -->
  <p style="font-family: vardana; font-weight: bold"> IMPORTANT NOTICE!!!</p>
  <p class="notice">
    This page is strictly for members of the National Association of Physics Students University of Ibadan Division (NAPS UI), as only members can access its priviledges.
  </p>

  <p class="notice">
    The Registration process requires that all members provide their University of Ibadan student email address. Click the button below to proceed.
  </p>
  <a href = "\Register|Sign-up"><button id="hsignup" title="Click to Register">Sign up</button></a>
</div>

<div class="other-content">
      
</div>

<div class="other-content">
      
</div>

<div class="other-content">
      
</div>

<div class="other-content">
      
</div>

<div class="footer">
  <p> Contact Us</p>
  <div class="text-center">
    <p id ="valid"><em>&copy; 2020-2021. All Rights Reserved |   Design By ZeroX</em></p>
    </p>
    <p id ="valid"><a href="#" style="color: #888888ff; font-family: vardana" title="Click to view Terms of Use">Terms of Use</a>
    </p>  
  </div>
</div>

<button onclick="topFunction()" id="toTop" title="Go to top">Top</button>

<script type="text/javascript">
  
  function openFile(val){
    window.open(val);
  }

</script>
<script type="text/javascript" src="navbar.js"></script>
<script type="text/javascript" src="indextop.js"></script>
</body>
</html>