html,
body {
  margin: auto 0;
}

body {

  background-attachment: fixed;
  display: -ms-flexbox;
  -ms-flex-align: center;
  justify-content: center;
  flex-wrap : wrap;
  align-items: center;
  padding-bottom: 40px;
  color:white;
  background-color: #######;
  /*background-image: url("home.jpg") ;*/
  background-repeat:none;
  background-size: cover;
}

::placeholder{
  color: white;
  opacity: 1;
}

#text-top{

  display: none;
  position: fixed;
  font-family: monospace;
  top: 20px;
  right: 20px;
  font-size: 1.2rem;
  color: #ffffffff;
  font-weight: bold;
  text-align: center;
}
.input-tooltip{
  font-size: .8rem;
  position: relative;
  /*display: flex;*/
  visibility: visible;
  background-color: rgba(0,0,0,0.8 );
  color: #f22;
  text-align:  center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  margin-top: -10px;
  border-width: solid;
  opacity: 1;
  transition: opacity 0.3s;

}
#valid{

  font-size: 1rem;
  font-family: vardana;
  margin: 15px;
  color: #ffffff;
}

#sign-in{

    border-radius: 20px;
}
#div{
  margin-top: 120px;
}
#user{

  width: 100px;
  height: 100px;
  background-color: #ffffff88;
  border-radius: 50px;
  padding: 8px;
}

.options{

  src: url("options.jpg");
  width: 45px;
  height: 45px;
  margin: 10px;
  margin-right: auto;
  cursor: pointer;
  background-color:#ffffffff;
  border-radius: 7px;
  box-shadow: 4px 4px 5px black;
  border: solid #ffffff33 1px;

}

.top-nav{
overflow: hidden;
position: fixed;
align-content: left;
align-items: left;
text-align: left;
top:0;
width: 100%;
margin: auto 0;
padding: 0;
background-color: #22222288;
margin-top: 0;
margin-bottom: 100px;
}

#main-nav{
  padding-left:0px;
  display: flex;
  list-style: none;
  text-decoration: none;
  margin: 0;
}

.nav-item{
  margin:14px;
  margin-right: 30px;
  
}
.nav-link{
  margin:0;
  padding:0;
  font-size: 1.13rem;
  font-family: Calibri;
  text-decoration: none;
  color: #ffffff88;


}
.nav-link:hover{
  color: #ffffffff;
}
.nav-link.active{
  color: #ffffffff;
}
#push{          
  display: flex;                    
  margin-left: auto;
}

#ones{ 

  margin:0;
  padding:0;         
  display: flex;                    
}

.btn-blue{
  border-radius: 15px;
  color:white;
  background-color: #3333ffff;
}
.btn-blue:hover{
  background-color: white;
  color:black;
}
.form-signin {

  width: 100%;
  max-width: 330px;
  padding: 10px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 1;
}
.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #ffffff88;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #ffffff88;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
