<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="HTML, JAVASCRIPT, CSS, PHP">
    <meta name="generator" content="Jekyll v4.1.1">
	<title>Sign Up | Register</title>
	<link rel="stylesheet" type="text/css" href="signup.css">
</head>
<body>

	<p class="head">Registeration Platform (Naps UI)</p>
	<div class="information" id="information">
		
		<p>Welcome to Naps UI Registeration Platform</p>
		<p class="align-left" style="margin-top: 50px">The Registration Process Are As Outlined Below:</p>
		<ul class="align-left">
			<li class="size">
				The required fields are prefixed with "*".
			</li>
			<li class="size">
				The non required fields may be filled after sign in.
			</li>
			<li class="size">
				The Registration process are made up of five sessions. These are: Basic-info, School-info, Contact-Address, Sign-in Info and Finish.
			</li>

		</ul>

		<button id="proceed" title="Click To Conitue">Continue</button>
	</div>
	<div class="cover" id="cover">
		<ul class="stages">
			<li>
				<div style="display:inline-flex;" id="basicComp"><h1 class="proccess active" id="basic">Basic-Info</h1></div>
			</li>
			<li>
				<div style="display:inline-flex" id="schoolComp"><h1 class="proccess" id="school">School-Info</h1></div>
			</li>
			<li>
				<div style="display:inline-flex" id="contComp"><h1 class="proccess" id="cont">Contact-Address</h1></div>
			</li>
			<li>
				<div style="display:inline-flex" id="signinComp"><h1 class="proccess" id="signin">Sign in-Info</h1></div>
			</li>
			<li>
				<div style="display:inline-flex" id="finilComp"><h1 class="proccess" id="finil">Finish</h1></div>
			</li>
		</ul>
		
		<div id="basic-info" name="info">

			<div id="basic-1" name="basic">

				<img class="mb-4" src="user.png" id="user">
				
				<p>	
					<span style="color:red; margin-right:5px;">*</span><input class="inputs input-tops"type="text" name="First Name" placeholder="First Name" id="inputFirstName" title="Please Enter Your First Name" required autofocus><span class="input-tooltip" id="inputFirstNameTip"></span>

				</p>
				<p>	
					<input class="inputs"type="text" name="Middle Name" placeholder="Middle Name" id="inputMiddleName">
				</p>
				<p>	
					<span style="color:red; margin-right: 5px;">*</span><input class="inputs input-bottom"type="text" name="Last Name" placeholder="Surname" id="inputLastName" title="Please Enter Your Surname" required><span class="input-tooltip" id="inputLastNameTip"></span>
				</p>
				<p>
					<label class="radio">
						Male <input class="gender" id="male" type="radio" name="Gender" value="Male" checked="true">
					</label>
					<label class="radio">
						Female <input class="gender" id="female" type="radio" name="Gender" value="Female">
					</label>
					<!-- <label class="radio">
						Undecided <input class="gender" id="others" type="radio" name="Gender" value="Undecided" checked="true">
					</label> -->
				</p>	

			</div>

			<div id="basic-2" name="basic">

				<img class="mb-4" src="user.png" id="user">

				<p>
					<span style="color:red; margin-right:5px;">*</span><label for="birthday">Date of Birth</label>
				</p>
				<p><input type="date" name="Date of Birth" id="inputBirthday" title="Please Select Your Date of Birth" required autofocus></p><span class="input-tooltip" id="inputBirthdayTip"></span>

				<p>	
					<span style="color:red; margin-right:5px;">*</span><input class="inputs" type="dropdown" name="Parent/ Guardian Name" placeholder="Parent/ Guardian Name" id="inputParentName" title="Please Enter Your Parent/ Guardian Name" required autofocus><span class="input-tooltip" id="inputParentNameTip"></span>
				</p>

			</div>
			
		</div>
		<div id="school-info" name="info">

			<div id="school-1" name="school">
				
				<img class="mb-4" src="user.png" id="user">

				<p>	
					<span style="color:red; margin-right:5px;">*</span><input class="inputs input-tops"type="text" name="Matric No" placeholder="Matric No" id="inputMatricNo" title="Please Enter Your Matric Number" required autofocus><span class="input-tooltip" id="inputMatricNoTip"></span>
				</p>

				<p>	
					<span style="color:red; margin-right:5px;">*</span><input class="inputs" type="email" name="School Email" placeholder="School Email Address" id="inputSchoolEmail"  title="Please Enter Your School Email Address" required><span class="input-tooltip" id="inputSchoolEmailTip"></span>
				</p>

				<p>	
					<input class="inputs input-bottom"type="email" name=" Other Email" placeholder="Other Email Address" id="inputEmail">
				</p>
				
			</div>

			<div id="school-2" name="school">
				
				<img class="mb-4" src="user.png" id="user">

				<p>
					<span style="color:red; margin-right:5px;">*</span><label>Level</label>
				</p>

				<p>	
					<select class="inputs input-tops"type="text" name="Level" placeholder="Level" id="inputLevel" title="Please Select Your Level" required><span class="input-tooltip" id="inputLevelTip" required></span>
				</select>
				</p>

				<p>
					<span style="color:red; margin-right:5px;">*</span><label>Allocated Hall</label>
				</p>

				<p>	
					<select class="inputs input-bottom"type="text" name="Hall Allocated" placeholder="Allocated Hall" id="inputHall" title="Please Select Your Hall" required><span class="input-tooltip" id="inputHallTip"></span>
				</select>
				</p>

			</div>
			
		</div>

		<div id="cont-info" name="info">
			
			<div id="cont-1" name="cont">
				
				<img class="mb-4" src="user.png" id="user">
				
				<p>	
					<span style="color:red; margin-right:5px;">*</span><input class="inputs input-tops"type="text" name="Contact Number" placeholder="Contact Number" id="inputContact" title="Please Enter Your Contact Number" required autofocus><span class="input-tooltip" id="inputContactTip"></span>
				</p>
				<p>	
					<input class="inputs"type="text" name="Other Contact Number" placeholder="Other Contact number" id="inputOtherContact">
				</p>
				<p>	
					<span style="color:red; margin-right: 5px;">*</span><input class="inputs input-bottom"type="text" name="Current Address" placeholder="Current Address" id="inputAddress" title="Please Enter Your Current Address" required><span class="input-tooltip" id="inputAddressTip"></span>
				</p>
				
			</div>

			<div id="cont-2" name="cont">
				
				<img class="mb-4" src="user.png" id="user">
				
				<p>	
					<span style="color:red; margin-right:5px;">*</span><input class="inputs input-tops"type="text" name="Parent/ Guardian Contact" placeholder="Parent/ Guardian Contact" id="inputParentContact" title="Please Enter your Parent/ Guardian Contact" required autofocus><span class="input-tooltip" id="inputParentContactTip"></span>
				</p>
				<p>	
					<input class="inputs"type="text" name="Parent/ Guardian Other Contact" placeholder="Other Contact" id="inputParentOtherContact">
				</p>
				<p>	
					<span style="color:red; margin-right: 5px;">*</span><input class="inputs input-bottom"type="text" name="Parent/ Guardian Address" placeholder=" Parent/ Guardian Address" id="inputParentAddress" title="Please input Parent/ Guardian Address" required><span class="input-tooltip" id="inputParentAddressTip"></span>
				</p>
				
			</div>
		</div>

		<div id="signin-info" name="info">
			
			<div id="signin-1" name="signin">

				<img class="mb-4" src="user.png" id="user">
				
				<p>	
					<span style="color:red; margin-right:5px;">*</span><input class="inputs input-tops"type="text" name="User Name" placeholder="User Name" id="inputUserName" title="Please Enter Your UserName" required autofocus><span class="input-tooltip" id="inputUserNameTip"></span>
				</p>

				<p>	
					<span style="color:red; margin-right:5px;">*</span><input class="inputs"type="password" name="Password" placeholder="Password" id="inputPassword" title="Please Enter your Password" required><span class="input-tooltip" id="inputPasswordTip"></span>
				</p>

				<p>	
					<span style="color:red; margin-right:5px;">*</span><input class="inputs input-bottom"type="password" name="Confirm Password" placeholder="Confirm Password" id="inputConfirmPassword" title="Please Enter your Password" required><span class="input-tooltip" id="inputConfirmPasswordTip"></span>
				</p>

			</div>
		</div>

		<div id="finil-info" name="info">
			
			<div id="finil-1" name="finil">
				
				<div id="pic-info">
				<img id="picture-cover" src="profile-pic.jpg">
				</div>
				<form action="/Upload-profile-pic" method="POST" enctype="multipart/form-data">
					<label for="image">Upload Profile Picture</label>
					<input type="file" id="image" name="image" value="" required>
					<button id="view-img" class="view-img" type="submit">Upload Image</button>
				</form>
			</div>
		</div>

		<div class="pos-val" name="pos-val">
			<button id="back">Prev</button> 
			<button id="next">Next</button>
			<button id="save">Save</button>
			<button id="finish">Finish</button>
			<button id="submit">Submit</button>
		</div>

		<div id="current"></div>
	
	</div>
	<div class="regCover" id="waitCover">
		
	</div>
	<div class="regCover" id="statusCover">

	</div>
	<div class="errStyle" id="errorCover">
		<p id="serverError"></p>
		<br>	
		<div class="err-val">
			
			<button id="go_back">Go Back</button>
			<button id="again">Try Again</button>	
		
		</div>
	</div>
	<script type="text/javascript" src="reg.js?version=<?= time() ?>"></script>
	
</body>
</html>