<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="kennyabby" content="HTML, JAVASCRIPT, CSS, PHP">
    <meta name="generator" content="Jekyll v4.1.1">
	<title>Naps Page</title>
 <!--  <script type="text/javascript">
    function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function () { null };
  </script> -->

	<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/">

  <!-- Bootstrap core CSS -->
  <link href="bootstrap.min.css" rel="stylesheet">
  <link href="dashboard.css" rel="stylesheet">
  <link href="signin.css" rel="stylesheet">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>
<body>

  <div id="sign-page" class="sign-page">
    
    <h1 id="text-top">Sign in</h1>

    <nav class="top-nav">

      <ul id="main-nav">
        <div class="item" id="ones">
          <li class="nav-item" id="home">
            <a class="nav-link" href="\">NAPS UI</a>
          </li>
          <li class="nav-item" id="signin">
            <a class="nav-link active" href="#">Sign in <span class="sr-only">(current)</span></a>
          </li>
        </div>
        

        <div class="item" id="push">
        <li class="nav-item" id="event">
          <a class="nav-link" href="\Events">Events</a>
        </li>
        <li class="nav-item" id="about">
          
          <a class="nav-link" href="\About">About us</a>

        </li> 
        </div>
        
      </ul>
    </nav>
    <div class = "text-center" id="div">
    <div class="form-signin">
      <img class="mb-4" src="user.png" id="user">
      <h1 class="h3 mb-3 font-weight-normal" style="color:#ffffffff; font-style:  bold; font-family:  serif; font-weight: bold">NAPSITE UI</h1>
      <form >
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <span class="input-tooltip" id="inputEmailAddressTip"></span>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <span class="input-tooltip" id="inputPasswordTip"></span>
      </form>
      <a id="dash-link"><button class="btn btn-lg btn-primary btn-block" id="sign-in">Sign in</button></a>
         
    </div>
      <p>
        <h3 class="h6 mb-3 font-weight-normal" style="margin:10px"> Forgot your password? </h3>
        <button class="btn btn-blue" type="submit" id="fgt">Click here</button>
        <p id ="valid"><em>&copy; 2020-2021. All Rights Reserved | Design By ZeroX</em></p>
      </p>
      <p id ="valid"><a href="#" style="color: white; font-family: vardana" title="Click to view Terms of Use">Terms of Use</a></p>
      </p>
    </div>

  </div>

  <div id="dash-page" class="dash-page">

    <div class="first-content" id="first-content">
      <div class="side" id="side">
        <ul class="sidebar" id="side-bar">
          <div class="prof-cover" id="imgComp">
            <img id="prof-img" class="prof-img" src="profile-img.png">
          </div>
          <li id="profileComp">
            <div style="display:inline-flex;" ><img id="notify-img" class="notify-img" src="view-img.png"><h1 class="sideproccess" id="profile">Profile</h1></div>
          </li>
          <li id="notificaitonsComp">
            <div style="display:inline-flex" ><img id="notify-img" class="notify-img" src="notification.png"><h1 class="sideproccess" id="notifications">Notifications</h1></div>
          </li>
          <li id="eventsComp">
            <div style="display:inline-flex" ><img id="notify-img" class="notify-img" src="event.png"><h1 class="sideproccess" id="events">Events</h1></div>
          </li>
          <li id="tasksComp">
            <div style="display:inline-flex" ><img id="notify-img" class="notify-img" src="task.png"><h1 class="sideproccess" id="tasks">Tasks</h1></div>
          </li>
          <li id="settingsComp">
            <div style="display:inline-flex" ><img id="notify-img" class="notify-img" src="settings.png"><h1 class="sideproccess" id="settings">Settings</h1></div>
          </li>
        </ul>
      </div>
      <div id="" class="center">
        <div id ="merge" class="top">
          <ul class="topbar">
            <li>
              <div style="display:inline-flex" id="signinComp"><h1 class="topproccess" id="dashSection">Dashboard</h1></div>
            </li>
            <li>
              <div style="display:inline-flex" id="schoolComp"><h1 class="topproccess" id="votingSection">Voting Section</h1></div>
            </li>
            <li>
              <div style="display:inline-flex" id="contComp"><h1 class="topproccess" id="discussionSection">Discussion Forum</h1></div>
            </li>
            <li>
              <div style="display:inline-flex" id="finilComp"><h1 class="topproccess" id="adminSection">Naps Admin</h1></div>
            </li>
          </ul>
          <div style="display: inline-block;">
            <div title="Sign Out" id="welcome">
                <img id="log-img" class="log-img" src="">
            </div>  
           <!--  <ul class="log-style">
              <li>
                <div style="display:inline-flex" id="log-div"><h1 class="logtext-style" id="log-text">Sign out</h1></div>
              </li>
            </ul> -->
          </div>
          
      </div>
        <div class="no-view" id= "dashSection-div">
          <div class= "other-content" id="img-flow">NAPS UI
            <img id="prev-img" class="prev" src="previous.png">
            <img id="next-img" class="next" src="next.jpg">
          </div>
        </div>
        <div class="no-view" id="profile-div">
          <div class= "image-cover" id="image-cover">
            <div id="profile-identifier" class="profile-identifier">
              <img id="profile-image" class="profile-image" src="profile-img.png">
            </div> 
          </div>
          <div id="edit-div" class="edit-div"><img id="edit-img" class="edit-img" src="edit.png"><p class="edit" id="edit">Edit Profile</p></div>
          <div id="save-div" class="save-div">
            <p class="save" id="save">Save Changes</p>
          </div>
          <div id="details-cover", class="details-cover"></div>
        </div>
        <div class="no-view" id="adminSection-div">
          <div class="admin-page" id="admin-page">
            <div class="search-section" id="search-section">
              <select class="search-method inputs"type="text" name="search-method" id="search-method" title="Search By">              
              </select>
              <input class="search-bar" type="text" name="Search-bar" placeholder="Enter value" id="search-bar"  title="Search">
              <select class="sort-search inputs"type="text" name="sort-search" id="sort-search" title="Sort By Level or Gender">
              </select>
            </div>
            <div class="search-result" id="search-result"></div>
            <div id="userdetails-cover" class="details-cover"></div>
          </div>
        </div>
        <div class="no-view" id="votingSection-div">
          
        </div>
        <div class="no-view" id="discussionSection-div">
          
        </div>
        <div class="no-view" id="notifications-div">
          
        </div>
        <div class="no-view" id="events-div">
          
        </div>
        <div class="no-view" id="tasks-div">
          
        </div>
        <div class="no-view" id="settings-div">
          
        </div>
          
      </div>

    </div>

  </div>
  

  <script type="text/javascript" src="navbar.js?version=<?= time() ?>"></script>
  <script type="text/javascript" src="signin.js"></script>
  <script type="text/javascript">

    // window.location.reload=true;
    var signPage = document.getElementById("sign-page");
    var dashPage = document.getElementById("dash-page");
    var setDash= sessionStorage.getItem("dash_key");

    console.log("dash is", setDash," and ");
    console.log(setDash===null);

    if (setDash===null){
       // console.log("dash is null");
       signPage.style.display="block";
       dashPage.style.display= "none"; 
       document.body.style.backgroundImage = "url('home.jpg')"; 
    }
    else {

       dashPage.style.display="block";
       signPage.style.display="none";
    }

  </script>
  
 <!--  <script type="text/javascript" src="dashboard.js?version=<?= time() ?>"></script> -->

</body>
</html>